@model FacebookApp.ViewModel.UserViewModel


<div>
    <div class="modal fade" id="editPictureModal" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="User" asp-action="EditPicture" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Your Photo</h4>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="form-group">
                            <input asp-for="ImageFile" type="file" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>